@model IEnumerable<ProductListingServiceModel>

@{
    ViewData["Title"] = "List";
}

<h1>Product List</h1>

<form asp-controller="Product" asp-action="Create" method="post">
    <div>
        <table class="tabl table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                 {
                    <tr>
                        <th>@product.Name</th>
                        <th>@product.Description</th>
                        <th>
                            <label for="@product.Name"></label>
                            @*<li><a asp-area="" >Create Product</a></li>*@
                            <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary btn-sm">Edit</a>
                            <button class="delete" onclick="location.href='/Product/Delete/@product.Id';return false;">Delete</button>
                        </th>
                    </tr>
                 }
            </tbody>
        </table>
        </div>

</form>
