
@{
    ViewData["Title"] = "Test";
}
<h2>Test</h2>

<input type="text" id="bid" />
<input type="button" onclick="bid('@User.Identity.Name')" value="Make Bid"/>
<br />
<br />
<h2>Result</h2>
<div id="result"></div>
@section Scripts{
    <script type="text/javascript" src="~/js/bidHandler.js"></script>
}